### Heroes Of Pymoli Data Analysis
* Of the 576 active players, 484 are male (84%). There also exists a smaller but notable proportion of female players (81 or 14%).  

* Male players spent \$1,967.64 in total on purchases, outpacing female players, who spent \\$361.94. Female players, however, spent more on average than their male counterparts (\\$4.47 per player vs. \\$4.07).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  Players 35-39 years old, however, spent the most on a per player basis.  The top 5 spenders are all between the ages of 20 and 25.

* Oathbreaker, Item ID 178, was both the most purchased item and the biggest revenue generator of all the items in the game.  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [22]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data["SN"].unique())
totalplayer_df = pd.DataFrame({"Total Players": [total_players]})
totalplayer_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = len(purchase_data["Item Name"].value_counts())
avg_price = purchase_data["Price"].mean()
total_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()
summary_df = pd.DataFrame({"Unique Items": [unique_items], "Average Price": avg_price, "Total Purchases": total_purchases,
                          "Total Revenue": total_revenue})
summary_df["Total Revenue"] = summary_df["Total Revenue"].astype(float).map("${:,.2f}".format)
summary_df["Average Price"] = summary_df["Average Price"].astype(float).map("${:,.2f}".format)
summary_df

   Unique Items Average Price  Total Purchases Total Revenue
0           179         $3.05              780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Create a dataframe that includes each player one time to get accurate gender numbers
gender_df = purchase_data

#Drop duplicate screen names
gender_df.sort_values("SN", inplace = True)
gender_df.drop_duplicates(subset = ["SN"], keep = "first", inplace = True)

#Put number of male players into a variable
male_players_df = gender_df.loc[gender_df["Gender"] =="Male", ["SN", "Gender"]]
males = len(male_players_df["SN"].value_counts())
per_males = males / total_players

#Put number of female players into a variable
female_players_df = gender_df.loc[gender_df["Gender"] =="Female", ["SN", "Gender"]]
females = len(female_players_df["SN"].value_counts())
per_females = females / total_players

#Put other gender into a variable
other_players_df = gender_df.loc[gender_df["Gender"] =="Other / Non-Disclosed", ["SN", "Gender"]]
other_nd = len(other_players_df["SN"].value_counts())
per_other = other_nd / total_players

#Create a summary table with these values
gender_summary_df = pd.DataFrame({"Number of Male Players": [males], "Percentage of Males": [per_males], 
                                  "Number of Female Players": [females], "Percentage of Females": [per_females],
                                 "Number of Other Gendered Players": [other_nd], "Percentage of Other Gender": [per_other]})
gender_summary_df["Percentage of Males"] = gender_summary_df["Percentage of Males"].astype(float).map('{:.2%}'.format)
gender_summary_df["Percentage of Females"] = gender_summary_df["Percentage of Females"].astype(float).map('{:.2%}'.format)
gender_summary_df["Percentage of Other Gender"] = gender_summary_df["Percentage of Other Gender"].astype(float).map('{:.2%}'.format)

gender_summary_df

,Number of Male Players,Percentage of Males,Number of Female Players,Percentage of Females,Number of Other Gendered Players,Percentage of Other Gender
0,484,84.03%,81,14.06%,11,1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
total_data = pd.read_csv(file_to_load)
group_df = total_data.groupby(["Gender"])

#Total purchases by gender
total_purchases_by_gender = group_df["Purchase ID"].count()

total_purchases_by_gender

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [6]:
#Average purchase price by gender  .astype(float).map("${:,.2f}".format)
avg_gender_price = group_df["Price"].mean()
avg_gender_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [7]:
#Total purchases by gender  .astype(float).map("${:,.2f}".format)
total_revenue_gender = group_df["Price"].sum()
total_revenue_gender

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [8]:
#Average purchase total per person per gender
avg_male_revenue = total_revenue_gender["Male"] / males
avg_female_revenue = total_revenue_gender["Female"] / females
avg_other_revenue = total_revenue_gender["Other / Non-Disclosed"] / other_nd

In [9]:
#Summary table
gender_revenue_summary_df = pd.DataFrame({"Total Players": [females, males, other_nd], 
                                          "% of Player Base": [per_females, per_males, per_other],
                                          "Total Purchases": total_purchases_by_gender, 
                                          "Average Purchase Price": avg_gender_price, 
                                          "Total Revenue": total_revenue_gender, 
                                          "Average Revenue per Person": [avg_female_revenue, avg_male_revenue, avg_other_revenue]})

gender_revenue_summary_df["Average Purchase Price"] = gender_revenue_summary_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
gender_revenue_summary_df["Total Revenue"] = gender_revenue_summary_df["Total Revenue"].astype(float).map("${:,.2f}".format)
gender_revenue_summary_df["Average Revenue per Person"] = gender_revenue_summary_df["Average Revenue per Person"].astype(float).map("${:,.2f}".format)
gender_revenue_summary_df["% of Player Base"] = gender_revenue_summary_df["% of Player Base"].astype(float).map('{:.2%}'.format)

gender_revenue_summary_df

,Total Players,% of Player Base,Total Purchases,Average Purchase Price,Total Revenue,Average Revenue per Person
Gender,,,,,,
Female,81,14.06%,113,$3.20,$361.94,$4.47
Male,484,84.03%,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,11,1.91%,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [10]:
#Create bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 117]
group_names = ["Under 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "Over 40"]

total_data["Age Group"] = pd.cut(total_data["Age"], bins, labels=group_names)

In [11]:
age_group_df = total_data.groupby(["Age Group"])
#age_group_df.count()

In [12]:
#Total purchases by age
age_group_total_purchases = age_group_df["Purchase ID"].count()
age_group_total_purchases

Age Group
Under 10     23
10-14        28
15-19       136
20-24       365
25-29       101
30-34        73
35-39        41
Over 40      13
Name: Purchase ID, dtype: int64

In [13]:
#Average price by age group
age_group_average_price = age_group_df["Price"].mean()
age_group_average_price

Age Group
Under 10    3.353478
10-14       2.956429
15-19       3.035956
20-24       3.052219
25-29       2.900990
30-34       2.931507
35-39       3.601707
Over 40     2.941538
Name: Price, dtype: float64

In [14]:
#Total revenue by age group
age_group_total_revenue = age_group_df["Price"].sum()
age_group_total_revenue

Age Group
Under 10      77.13
10-14         82.78
15-19        412.89
20-24       1114.06
25-29        293.00
30-34        214.00
35-39        147.67
Over 40       38.24
Name: Price, dtype: float64

In [15]:
#Average purchase total per person in age group
#Use gender_df to get user counts for age groups
gender_df["Age Group"] = pd.cut(gender_df["Age"], bins, labels=group_names, include_lowest=True)
#gender_df

In [16]:
#Get the number of each group into a variable
#Under 10 (17)
under_ten_df = gender_df.loc[gender_df["Age Group"] == "Under 10", ["SN", "Age Group"]]
under_10 = len(under_ten_df["SN"].value_counts())

#10-14 (22)
ten_fourteen_df = gender_df.loc[gender_df["Age Group"] == "10-14", ["SN", "Age Group"]]
ten_fourteen = len(ten_fourteen_df["SN"].value_counts())

#15-19 (107)
fifteen_nineteen_df = gender_df.loc[gender_df["Age Group"] == "15-19", ["SN", "Age Group"]]
fifteen_nineteen = len(fifteen_nineteen_df["SN"].value_counts())

#20-24 (258)
twenty_df = gender_df.loc[gender_df["Age Group"] == "20-24", ["SN", "Age Group"]]
twenty = len(twenty_df["SN"].value_counts())

#25-29 (77)
twentyfive_df = gender_df.loc[gender_df["Age Group"] == "25-29", ["SN", "Age Group"]]
twentyfive = len(twentyfive_df["SN"].value_counts())

#30-34 (52)
thirty_df = gender_df.loc[gender_df["Age Group"] == "30-34", ["SN", "Age Group"]]
thirty = len(thirty_df["SN"].value_counts())

#35-39 (31)
thirtyfive_df = gender_df.loc[gender_df["Age Group"] == "35-39", ["SN", "Age Group"]]
thirtyfive = len(thirtyfive_df["SN"].value_counts())

#Over 40 (12)
over_forty_df = gender_df.loc[gender_df["Age Group"] == "Over 40", ["SN", "Age Group"]]
over_forty = len(over_forty_df["SN"].value_counts())

#List of all these variables
per_age_groups = [under_10, ten_fourteen, fifteen_nineteen, twenty, twentyfive, thirty, thirtyfive, over_forty]

In [17]:
#Percentage of age groups
percentage_age_groups = [under_10/total_players, ten_fourteen/total_players, fifteen_nineteen/total_players, 
                         twenty/total_players, twentyfive/total_players,thirty/total_players, 
                         thirtyfive/total_players, over_forty/total_players]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
#Summary table for age group data
summary_age_df = pd.DataFrame({"Players": per_age_groups, "% of Player Base": percentage_age_groups, "Total Purchases": age_group_total_purchases, "Average Purchase Price": age_group_average_price, 
                               "Total Revenue": age_group_total_revenue})

#Add column with average revenue per player
summary_age_df["Per Player Revenue"] = age_group_total_revenue / per_age_groups

#Format columns
summary_age_df["Average Purchase Price"] = summary_age_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
summary_age_df["Total Revenue"] = summary_age_df["Total Revenue"].astype(float).map("${:,.2f}".format)
summary_age_df["Per Player Revenue"] = summary_age_df["Per Player Revenue"].astype(float).map("${:,.2f}".format)
summary_age_df["% of Player Base"] = summary_age_df["% of Player Base"].astype(float).map('{:.2%}'.format)

summary_age_df

,Players,% of Player Base,Total Purchases,Average Purchase Price,Total Revenue,Per Player Revenue
Age Group,,,,,,
Under 10,17,2.95%,23,$3.35,$77.13,$4.54
10-14,22,3.82%,28,$2.96,$82.78,$3.76
15-19,107,18.58%,136,$3.04,$412.89,$3.86
20-24,258,44.79%,365,$3.05,"$1,114.06",$4.32
25-29,77,13.37%,101,$2.90,$293.00,$3.81
30-34,52,9.03%,73,$2.93,$214.00,$4.12
35-39,31,5.38%,41,$3.60,$147.67,$4.76
Over 40,12,2.08%,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [19]:
spender_df = total_data.groupby(["SN", "Age"])
revenue_SN = spender_df["Price"].sum()
purchase_SN = spender_df["Purchase ID"].count()
avg_price_SN = revenue_SN / purchase_SN
SN_df = pd.DataFrame({"Total Revenue": revenue_SN, "Total Purchases": purchase_SN, "Average Price": avg_price_SN})

SN_df["Average Price"] = SN_df["Average Price"].astype(float).map("${:,.2f}".format)
SN_df.sort_values(by=["Total Revenue"], ascending=False).head()

                 Total Revenue  Total Purchases Average Price
SN          Age
Lisosia93   25           18.96                5         $3.79
Idastidru52 24           15.45                4         $3.86
Chamjask73  22           13.83                3         $4.61
Iral74      21           13.62                4         $3.40
Iskadarya95 20           13.10                3         $4.37

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [20]:
item_df = total_data.groupby(["Item Name", "Item ID", "Price"])
item_revenue = item_df["Price"].sum()
item_purchases = item_df["Purchase ID"].count()

item_summary_df = pd.DataFrame({"Revenue": item_revenue, "Total Purchases": item_purchases})
item_summary_df.sort_values(by=["Total Purchases"], ascending=False).head()

,,,Revenue,Total Purchases
Item Name,Item ID,Price,,
"Oathbreaker, Last Hope of the Breaking Storm",178,4.23,50.76,12
"Extraction, Quickblade Of Trembling Hands",108,3.53,31.77,9
Nirvana,82,4.90,44.10,9
Fiery Glass Crusader,145,4.58,41.22,9
"Pursuit, Cudgel of Necromancy",19,1.02,8.16,8

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [21]:
item_summary_df.sort_values(by=["Revenue"], ascending=False).head()

,,,Revenue,Total Purchases
Item Name,Item ID,Price,,
"Oathbreaker, Last Hope of the Breaking Storm",178,4.23,50.76,12
Nirvana,82,4.90,44.10,9
Fiery Glass Crusader,145,4.58,41.22,9
Final Critic,92,4.88,39.04,8
Singed Scalpel,103,4.35,34.80,8